/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: pokemon;
  src: url(assets/font/pokemon_Solid.ttf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0; font-family: pokemon, "Helvetica Neue", sans-serif; }

.background{
  /*position: fixed;*/
  /*top: 0;*/
  background-attachment: fixed;
  background-image: url(/assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-background{
  background-image: url("assets/grass.png");
  background-size: cover;
}

.frame{
  font-size: 1.5em;
  width: fit-content;
  padding-inline: 4%;
  margin: auto;
  background-image: url(assets/border-pokemon.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.area-frame{
  text-align: center;
  background-image: url(assets/border-pokemon.png);
  background-size: 100% 100%;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  height: 500px;
}

mat-grid-tile{
  background-image: url("assets/grass.png");
  background-size: contain;
}

.modal{
  background-image: url(assets/border-pokemon.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-info{
  background-image: url(assets/info-modal.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.background-path{
  width: 100%;
  /*position: fixed;*/
  top: 10%;
  background-image: url(/assets/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

