<div class="row titulo" > Bem vindos ao pokeExplorer</div>
<div class="row desc" >
  adodjasod aekikoa wiedjawd  aweijiaowjed awed
  awoidj asoidj asidj aosijd asdiojas d aisojd
  adodjasod aekikoa wiedvvhff cfdghdghd gdgdgbiajawd  aweijiaowjed awed
  awoidj asoidj asidj aosijd asdiojas d aisojd
  adodjasod aekikoa wiedjawd  aweijiaowjed awed
  awoidj asoidj asidj aosijd asdiojas d aisojd !!!
</div>
<button (click)="nextPage()" type="button" mat-flat-button color="primary" class="next-page-button"> Começar! </button>
