.titulo{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 5%;
  font-size: xx-large;
  text-align: center;
  color: yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;
}

.desc{
  text-align: center;
  font-size: large;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
}
.proceed-button{
  position: absolute;
  bottom: 8%;
  width: 14%;
  margin-left: 43%;
  margin-right: 43%;
}

.background{
  max-width:100%;
  max-height:100%;
}
