.path-column{
  padding-top: 8%;
  float: left;
}

mat-icon{
  height: auto;
  width: auto;
  font-size: 150px;
}

.trainer{
  width: 45%;
  margin-right: 20%;
  margin-left: 25%;
  object-fit: contain;
}

.imagem{
  object-fit: cover;
  padding-top: 5px;
  float: left;
  width: 30px;
  height: 30px;
}

.titulo{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: xxx-large;
  text-align: center;
  color: yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: blue;
}

.home-button{
  width: 10%;
  margin: 2% 45%;
}
