
.column {
  float: left;
  width: 10%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

mat-grid-list {
  padding-bottom: 0 !important;
}

.direita{
  position: absolute;
  right: 0;
}

.esquerda{
  position: absolute;
  left: 0;
}

.centro{
  position: absolute;
  left: 25%;
}

.button{
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  height: 100%;
}

.tile{
  border-color: lawngreen;
  border-width: 3px;
  border-style: solid;
}

.fixed-left{
  position: fixed;
  top: 250px;
  left: 30px;
}

.fixed-right{
  position: fixed;
  top: 280px;
  right: 160px;
}


