<form class="form mt-4" [formGroup]="pokemonForm" (ngSubmit)="find()" >
  <div class="form-group">
    <div class="row" style="overflow:auto;">
      <div class="column">
        <h4 class="battle-text">Select Initial Area</h4>
        <div style="text-align: center;">
          <img *ngIf="area !== null" class="area-image" style="width:220px; height :220px" [src]="imageArea">
          <img *ngIf="area === null" class="question-mark" style="width:220px; height :220px" src="/assets/blackQuestionMark.png">
        </div>
        <div>
          <div style="text-align: center;">
            <mat-form-field appearance="fill">
              <mat-select placeholder="Select Area" class="form-control" (selectionChange)="loadArea($event)">
                <mat-option *ngFor="let option of optionsAreas" [value]="option">
                  {{option.name}}
                  <img style="width:30px; height:30px;position: absolute; right: 0; object-fit: cover" src="{{option.url}}">
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="column">
        <div style="text-align: center; margin-top: 160px">
            <mat-icon class="battle-symbol">arrow_forward</mat-icon>
        </div>
      </div>
      <div class="column">
        <h4 class="battle-text">Select your Pokemon</h4>
        <div style="text-align: center;">
          <img *ngIf="pokemon !== null" class="img-responsive" style="width:220px; :220px;" [src]="imageSourceSelf">
          <img *ngIf="pokemon === null" class="question-mark" style="width:220px; :220px" src="/assets/blackQuestionMark.png">
        </div>
        <div>
          <div style="text-align: center;">
            <mat-form-field appearance="fill">
              <mat-select placeholder="Select Pokemon" class="form-control" (selectionChange)="loadPokemonSelf($event)">
                <mat-option *ngFor="let option of optionsPokemon" [value]="option">
                  {{option.name}}
                  <img class="img-responsive" style="width:30px; height:30px;position: absolute; right: 0" src="{{option.url}}">
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row"  style="text-align: center;">
    <button type="submit" mat-flat-button color="primary">
      Go!
    </button>
  </div>
</form>
